extends layout

block content
  h2 Gestion du SAV
  h3 Uniquement démonstratif
  address
    | One Microsoft Way
    br
    | Issy-Les-Moulineaux, France
    br
    abbr(title='Phone') P: 
    | 425.555.0100

  address
    strong Support: 
    a(href='mailto:Support@contonso369.com') Support@spree.com
    br
    strong Marketing: 
    a(href='mailto:Marketing@contonso369.com') Marketing@spree.com
