extends layout
//script(src='/js/app.js')
block content
  h2 Prototype Azure Stack
  h3 Azure SDK Implementation
  h4 #{val}
  a(href="/exp").btn.btn-default Check Order &raquo;
  h2 Validation des commandes
  h4 Cliquer sur "✔" pour valider une commande en ligne Spree
  //h3 #{proto}
  - console.log("in jade value is:");
  - console.log(val);
  ul
  each user in ordered
    a(href="/destroy/#{user}").btn ✔
        li= user