extends layout

block content
  .jumbotron
    h1 Plateforme Interne Facturation Spree
    p.lead POC empowering Azure Stack :)
    p
      a.btn.btn-primary.btn-large(href='https://docs.microsoft.com/fr-fr/azure/azure-stack/') Azure Stack &raquo;
  .row
    .col-md-4
      h2 Proudly Made with VSTS with Node.js
      p Express gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development.
      p
        a.btn.btn-default(href='http://expressjs.com/') Learn more &raquo;
    .col-md-4
      h2 Intranet Spree
      p Only Demo ;).
      p
        a.btn.btn-default(href='https://www.npmjs.org/') Learn more &raquo;
    .col-md-4
      h2 Microsoft Azure Stack
      p En savoir plus sur la solution cloud hybride de microsoft
      p
        a.btn.btn-default(href='http://azure.microsoft.com') Learn more &raquo;
