doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Plateforme Admin Spree
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.6.2.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //a.navbar-brand(href='/') BackEnd Spree
          img(src= "http://40.69.205.31/assets/logo/spree_50-1c7335be355d4672a35c5023956d0c883f254831f3e3dae3f2ca05976ceb5e50.png")
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Accueuil
            li
              a(href='/about') Billing
            li
              a(href='/contact') SAV
            li
              a(href='/exp') Prototype
            li
              a(href='/poc') POC
    .container.body-content
      block content
      hr
      footer
        p &copy; #{year} - Microsoft France

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
